{% extends 'base.html.twig' %}

{% block title 'About Us |' ~ parent() %}

{% block body %}
<img src="imgs/me.png" wid alt="picture of Khadim Niass">

    <h1>Buit with ❤️❤️❤️ by Khadim Niass</h1>

<p><a href="{{path('app_home')}}">Revenir à la page d'accueil</a></p>
{% endblock %}
