{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
<img src="asset('/imgs/SN.PNG')" alt="Sénégals'flag">
    <h1>Hello from Sénégal</h1>
    <p>It is currently {{'now'|date('H:i ') }}.</p>

{% endblock %}
