{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
    <h1>Hello from Sénégal</h1>

    <p>It is currently {{'now'|date('h:i ') }} </p>
{% endblock %}
