{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}

<center>
    <img src="/imgs/flag-senegal.PNG" height = "30" width = "120" alt="Sénégals'flag" class=" mt-12 rounded shadow-md">
    
    <h1 class="mt-5 text-3xl sm:text-5xl font -semibold text-indigo-600" >Hello from Sénégal</h1>
    
    <p class="text-lg text-gray-800">
        It is currently {{'now'|date('H:i ') }}.
    </p>
</center>
{% endblock %}